<!--The content below is only a placeholder and can be replaced.-->
<body>
  <div>
  
      <h1>VERONICA'S MONTHLY BUDGET</h1>

   
    
   
    <table border="4">
    <tr>
      
      <th>INCOME</th>
      <th>TRANSPORT</th>
      <th>FOOD</th>
      <th>ENTERTAINMENT</th>
      <th>SAVINGS</th>
     
    </tr>
    
     
    <tr>
      <td>R2000</td>
      <td>R500</td> 
      <td>R250</td>
      <td>R300</td>
      <td>R950</td>
    </tr>
 








      


      






      
      


      
      
      
     
  </table> 
  